/* General styles for workout pages */
.workout {
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  background-color: #1e1e1e; /* Darker background */
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.workout h1, .workout h2 {
  font-size: 3rem; /* Adjusted font size */
  color: #ff5733; /* Primary color */
  margin-bottom: 30px;
  text-align: center;
}

.workout h2 {
  margin-top: 40px;
}

.workout_exercises {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.workout_exercise {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #333; /* Slightly lighter background for contrast */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workout_exercise:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.workout_exercise h3 {
  font-size: 2rem;
  margin-right: 20px;
}

.workout_exercise_image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.workout_exercise:hover .workout_exercise_image img {
  transform: scale(1.05);
}

.workout_exercise_content {
  margin-left: 20px;
}

.workout_exercise_content h2 {
  font-size: 2rem;
  color: #ff5733;
  margin: 0 0 10px;
}

.workout_exercise_content p, .workout_exercise_content span {
  font-size: 1.2rem;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 600px) {
  .workout_exercise {
    flex-direction: column;
    align-items: flex-start;
  }

  .workout_exercise h3 {
    margin-bottom: 10px;
  }

  .workout_exercise_image img {
    width: 100%;
    height: auto;
  }

  .workout_exercise_content {
    margin-left: 0;
    margin-top: 10px;
  }
}
