.footer{
    text-align:center;
    min-height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 25px;
    margin-top: auto;
}

.custom-dark-bg {
    background-color: #343a40 !important; /* Change this to your desired dark color */
    border-color: #343a40 !important; /* Ensure the border matches the background */
  }
  
  .custom-dark-bg:hover {
    background-color: #23272b !important; /* Change this to a slightly lighter dark color for hover effect */
    border-color: #23272b !important;
  }
  