.footer{
    text-align:center;
    min-height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 25px;
    margin-top: auto;
}